body {
    background-color: rgb(0, 0, 0);
    color: white;
}

h1 {
    @font-face {
        font-family: ;
        src: url();
    }

    color: red;
}

/*Bladerunner-fontti punaisella H1:n ja keskitä sivu.